<a target="_new" title="Google Calendar" href="<%- login_prefix %>gcal"><img src="http://assets.singly.com/service-icons/32px/gcal.png" width="32" height="32"></a>
<a target="_new" title="Twitter" href="<%- login_prefix %>twitter"><img src="http://assets.singly.com/service-icons/32px/twitter.png" width="32" height="32"></a>
<a target="_new" title="Facebook" href="<%- login_prefix %>facebook"><img src="http://assets.singly.com/service-icons/32px/facebook.png" width="32" height="32"></a>
<a target="_new" title="foursquare" href="<%- login_prefix %>foursquare"><img src="http://assets.singly.com/service-icons/32px/foursquare.png" width="32" height="32"></a>
<a target="_new" title="LinkedIn" href="<%- login_prefix %>linkedin"><img src="http://assets.singly.com/service-icons/32px/linkedin.png" width="32" height="32"></a>
<a target="_new" title="Tumblr" href="<%- login_prefix %>tumblr"><img src="http://assets.singly.com/service-icons/32px/tumblr.png" width="32" height="32"></a>
