<% for (var i in show_logins) { login = show_logins[i]; %>
  <a target="_new" title="<%= login.name %>" href="<%- login_prefix %><%= login.service %><% if (!!login.extra) { %><%= show_logins[i].extra %><% } %>"><img src="http://assets.singly.com/service-icons/32px/<%= show_logins[i].service %>.png" width="32" height="32"></a>
<% } %>
